test_tridesclous/*
test_tridesclous_*/*

test_klusta/*
test_klusta_*/*

test_test_ironclust/*
test_test_ironclust_*/*

test_test_kilosort/*
test_test_kilosort_*/*

test_spykingcircus/*
test_spykingcircus_*/*

test_spykingcircus/*
test_spykingcircus_*/*

test_mountainsort4/*
test_mountainsort4_*/*

test_herdingspikes/*
test_herdingspikes_*/*

test_run_sorters*/*
